
<!DOCTYPE HTML>
<html>
<head>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<style type="text/css">

</style>

<meta charset="utf-8"/>
<meta name="viewport" content="width= device-width, initial-scale=1"/>

<h2><title></title></h2>
</head>

<body>
<div class="jumbotron text-center">
  <h1>My First Bootstrap Page</h1>
  <p>Resize this responsive page to see the effect!</p>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3>Column 1</h3>
      <p></p>
    </div>
    <div class="col-sm-4">
      <h1>Column 2</h1>
      <p>Thanks for Your Comment></p>
    </div>
    <div class="col-sm-4">
      <h3>Column 3</h3>
      <p>Lorem ipsum dolor..</p>
    </div>
  </div>
</div>




<script>
var x = document.getElementById("y");

if(x.addEventListener) {x.addEventListener("click", go, false);
			} 
			 else if(x.attachEvent) {
			 x.attachEvent("onclick", go);
			 } 

function go() {



}
</script>

</body>
</html>










